<br/><br/>

<div class="row">
	<div class="col s12 center">
		<h1> Sobre </h1>
		<p> {{site.user_description}} </p>
	</div>

</div>

<div class="row">

	<div class="col s6 center">
      <i class="large fa fa-users face"></i>
      <h2>Público-Alvo</h2>
      <p>Todas as pessoas que se identificam ou tem expressão de gênero feminina independentemente do seu nível de conhecimento em Python.</p>
    </div> 

	 <div class="col s3 center">
        <i class="large material-icons location">location_on</i>
        <h2>Data e Hora</h2>
		<p>20 de junho de 2025</p>
    </div>      
	
    <div class="col s3 center">
      <i class="large material-icons group">group_add</i>
      <h2>Suporte</h2>
      <p>Contamos com todas as PyLadies da organização</p>
    </div>
</div>