

 <div class="user-details">
  <h1> Sobre </h1>
  <p> {{site.user_description}} </p>

</div>

<div class="user">
    <div class="tech">
      <span> <i class="large fa fa-users face"></i> </span>
      <h2>Público-Alvo</h2>
      <p>Todas as pessoas que se identificam ou tem expressão de gênero feminina independentemente do seu nível de conhecimento em Python.</p>
    </div>

    <div class="tech">

        <span> <i class="large material-icons location">location_on</i> </span>
        <h2>Data e Hora</h2>
      <p>Será no dia 19 de Outubro de 2019, no LuizaLabs, a partir das 9h da manhã!</p>
    </div>
    <div class="tech">

      <span> <i class="large material-icons group">group_add</i> </span>

      <h2>Suporte</h2>
      <p>Contamos com todas as PyLadies da organização</p>
    </div>
</div>
