

 <div class="user-details">
  <h1> Sobre </h1>
  <p> {{site.user_description}} </p>

</div>

<div class="user">
    <div class="tech"> 
      <span> <i class="large fa fa-users face"></i> </span>
      <h2>Público-Alvo</h2> 
      <p>Mulheres que nunca programaram antes, mas que possuem interesse na área.</p>
    </div>

    <div class="tech">
      
        <span> <i class="large material-icons location">location_on</i> </span>
        <h2>Data e Hora</h2>
      <p>Será dia ia 16 de Outubro de 2018, no IMD (UFRN), a partir das 9h da manhã! </p>
    </div>
    <div class="tech">
    
      <span> <i class="large material-icons group">group_add</i> </span>

      <h2>Suporte</h2>
      <p>Contamos com mais de 10 mulheres trabalhando voluntariamente na organização do evento.</p>
    </div>
</div>
