<div class="container">
	<div class="row apoie">

		<div class="col s12 m6 l6">
			<img alt="pyladiesbr" src="{{ "/assets/img/apoie_evento_2025.png" | prepend: site.baseurl }}" />
		</div>

		<div class="col s12 m6 l6">
			<div class="apoie2">
				<h4>Apoie nosso evento</h4>
				<p class="text_justify"> {{site.apoie_description: }} </p>
				<br/>
				<a class="waves-effect waves-light btn btn-large" href="https://drive.google.com/file/d/1Xc4-sB3ZAMyLBUJ_gj2J9gZPnvJUI0I_/view?usp=sharing" target="_blank">Saiba mais</a>
			</div>
			</div>
		
		</div>
		
		

	</div>
</div>