<div class="container">
	<div class="row apoie">
		<div class="col s12 m6 l6">
			<h3>Apoie nosso evento</h3>
			<p class="text_justify"> {{site.apoie_description: }} </p>
			
			<br/>
			<a class="waves-effect waves-light btn btn-large" target="_blank" href="https://docs.google.com/presentation/d/e/2PACX-1vTQgdjEKIV1oJqZyB2i1a9OUFu0NcJ1HtN95DJT6WbtK5ovNLW-M4dC_KPb9uFWXqL10m7cfKQ8nbhW/pub">Saiba mais</a>
		</div>
		
		<div class="col s12 m6 l6">
			<img alt="pyladiesbr" src="{{ "/assets/img/apoie_evento_2025.png" | prepend: site.baseurl }}" />
		</div>

	</div>
</div>