<div class="container">
	<div class="row">
		<div class="card-panel hoverable">
			<span> <i class="large material-icons edit_note">edit_note</i> </span>
			<div class="divider"></div>
			<h2>Call for Papers</h2>
			
			<h3>Chamando todas as PyLadies! ✨</h3>

			<p>As submissões de atividades para a PyLadies BR Conf 2025 estão abertas! 🚀 </p>
			<p>Se você tem uma palestra, tutorial ou painel incrível para compartilhar, essa é a sua chance de brilhar na maior conferência da comunidade PyLadies no Brasil!</p>
			<a class="btn-large waves-effect waves-light color-button" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfjv-rVmeGN5Q8RaLVNQ9BMUvW2_Ec0ivraIxr7nFihtoUqPg/viewform?usp=preview">
				<i class="material-icons left">edit_note</i>
				Formulário de Submissão
			</a>
		</div>
	</div>
</div>

