<div class="styled" id="clock">
  <div class="row">
     <div class="container">
        <div class="clock-letter col s3">
          <h3 id='days'> 0 </h3>
          <p>Dias</p>
        </div>
        
        <div class="clock-letter col s3">
            <h3 id="hours">0 </h3>
          <p>Horas</p>
        </div>
        
        <div class="clock-letter col s3">
            <h3 id="minutes">0</h3>
            <p>Min</p>
        </div>

        <div class="clock-letter col s3">
            <h3 id="seconds">0</h3>
            <p>Seg</p>
        </div>
    </div>
  </div>
</div>