<!-- <footer class="footer">
    <p>&copy; {{site.username}}</p>
    
    
    
    <p>PyLadiesConfBR is a non-profit volunteer-driven conference for promoting the open-source Python programming language. It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF).</p>
</footer> -->


<footer class="page-footer nav-color">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <h5 class="white-text">Seja um patrocinador!</h5>
        <div class="grey-text text-lighten-4">
        <a class="waves-effect waves-light btn-large" href="mailto:brazil@pyladies.com">Manda e-mail pra gente!</a>
        </div>
      </div>

      <div class="col m4 s12">
        <h5 class="white-text">Sobre</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#about">Evento</a></li>
          <li><a class="grey-text text-lighten-3" href="#keynotes">Keynotes</a></li>
          <li><a class="grey-text text-lighten-3" href="#local">Local</a></li>
          <li><a class="grey-text text-lighten-3" href="#patrocinadores">Patrocinadores</a></li>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/presentation/d/e/2PACX-1vTQgdjEKIV1oJqZyB2i1a9OUFu0NcJ1HtN95DJT6WbtK5ovNLW-M4dC_KPb9uFWXqL10m7cfKQ8nbhW/pub">Carta de Patrocínio</a></li>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/document/d/e/2PACX-1vTkVt2ermHYzhgzcqs2VqQGk9PS01UkIXcI0Gjmb_OkBTbdocYGPY2DCrMgmi8N1Dps1WS_KdrF45F2/pub">Código de Conduta</a></li>
        </ul>
      </div>

      <div class="col m2 s12">
          <ul>
              <li><a class="grey-text text-lighten-3 right" href="http://brasil.pyladies.com/"><i class="medium fa fa-rss social-media"></i></a></li>

            <li><a class="grey-text text-lighten-4 right" href="https://www.facebook.com/PyLadiesBrazil/"><i class="medium fa fa-facebook social-media"></i></a></li>
          </ul>
        </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
          © 2018 Pyladies Brasil. Todos os direitos reservados. PyLadies Brasil é parte do PyLadies . PyLadies é marca registradas da Python Software Foundation.
      </div>
    </div>
   
  </div>
</footer>


<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery-3.3.1.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/materialize.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/assets/js/moment.min.js" | prepend: site.baseurl  }} "></script>
<script src="{{ "/assets/js/moment-timezone-with-data.min.js" | prepend: site.baseurl  }} "></script>
<script src="{{ "/assets/js/jquery.countdown.js" | prepend: site.baseurl  }} "></script>

<script src="{{ "/assets/js/contador.js" | prepend: site.baseurl  }} "></script>

<!-- <script src="{{ "/assets/js/contador.js" | prepend: site.baseurl  }} "></script> -->

<script type="text/javascript">

 $( window ).scroll(function() {

  if($(window).height() * 0.60 > $(this).scrollTop()){
    $(".nav-color").hide();
  }
  else $(".nav-color").show();
    
})
    $(document).ready(function(){
    	$('.parallax').parallax();
  	});
</script>

{% include google-analytics.html %}
