<div id="particles-js">

    <div class="navbar-fixed nav-color">
        <nav>
          <div class="nav-wrapper nav-color">
            <!-- <a href="http://127.0.0.1:4000/conf/" class="brand-logo"> <img class="logo-pyladies responsive-img" alt="logo" src="/conf/assets/img/logo-magenta.svg" /> -->
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#about">Sobre</a></li>
              <li><a href="https://www.sympla.com.br/pyladiesbr-conf-2018__335434">Inscreva-se</a></li>
              <li><a href="https://speakerfight.com/events/pyladiesbr-conf-2018/">Speakerfight</a></li>

              <li><a href="#keynotes">Keynotes</a></li>
              <li><a href="#local">Local</a></li>
              <li><a href="#patrocinadores">Patrocinadores</a></li>
            </ul>
          </div>
        </nav>
      </div>

 <div id="#" class="row">
    <div class="container">
        <div class="header">
            <div id="#" class="col m6">
                <img class="responsive-img" alt="pyladiesconfbr" src="{{ "/assets/img/marca_evento.png" | prepend: site.baseurl }}" />
            </div>
          
            <div id="#" class="col m6">
                <div class="styled" id="clock">
                    <div class="row">
                       <div class="container">
                          <div class="clock-letter col s3">
                            <h3 id='days'> 0 </h3>
                            <p>Dias</p>
                          </div>
                          
                          <div class="clock-letter col s3">
                              <h3 id="hours">0 </h3>
                            <p>Horas</p>
                          </div>
                          
                          <div class="clock-letter col s3">
                              <h3 id="minutes">0</h3>
                              <p>Min</p>
                          </div>
                  
                          <div class="clock-letter col s3">
                              <h3 id="seconds">0</h3>
                              <p>Seg</p>
                          </div>
                      </div>
                    </div>
                    <div class="header-links">
                        <a class="btn-large waves-effect waves-light  orange darken-4 color-button" href="https://www.sympla.com.br/pyladiesbr-conf-2018__335434">Inscreva-se</a>  
                        <a class="btn-large waves-effect waves-light blue lighten-1 color-button" href="https://speakerfight.com/events/pyladiesbr-conf-2018/">Speakerfight</a>  
        
                      </div>
                  </div>
                <!-- <h1>
                  <span class="site-description">{{site.user_title}}</span>
                </h1> -->
              </div>
          </div>
    </div>
  </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
