<nav class="nav-center" role="navigation">
  <div class="nav-wrapper">
	<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	<ul class="hide-on-med-and-down">
	  <li><a href="index.html#sobre">Sobre</a></li>             
	  <li><a href="index.html#programacao">Programação</a></li>
	  <li><a href="index.html#inscricoes">Inscrições</a></li>
	  <li><a href="index.html#keynotes">Keynotes</a></li>			  
	  <li><a href="index.html#palestrantes">Palestrantes</a></li>
	  <li><a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vTkVt2ermHYzhgzcqs2VqQGk9PS01UkIXcI0Gjmb_OkBTbdocYGPY2DCrMgmi8N1Dps1WS_KdrF45F2/pub">Código de Conduta</a></li>
	</ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="index.html#sobre">Sobre</a></li>             
	<li><a href="index.html#programacao">Programação</a></li>
	<li><a href="index.html#inscricoes">Inscrições</a></li>
	<li><a href="index.html#keynotes">Keynotes</a></li>			  
	<li><a href="index.html#palestrantes">Palestrantes</a></li>
	<li><a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vTkVt2ermHYzhgzcqs2VqQGk9PS01UkIXcI0Gjmb_OkBTbdocYGPY2DCrMgmi8N1Dps1WS_KdrF45F2/pub">Código de Conduta</a></li>
</ul>
