<div id="particles-js">
  <div id="#" class="header">
      <h1>
        <img class="responsive-img logo-pyladiesconf" alt="pyladiesconfbr" src="{{ "/assets/img/marca_evento.png" | prepend: site.baseurl }}" />
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      
      <div class="header-links">
        <a class="btn-large waves-effect waves-light color-button" href="https://www.sympla.com.br/pyladiesbr-conf-2018__335434">Inscreva-se!</a>
        
      </div>

  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>