<div class="container">
	<div class="row hospedagem center">
		<div class="col s12">
			<div class="quem-organiza">
				<h4>Hospedagem</h4>
			</div>
			<p>Pessoas inscritas no evento obtém preços exclusivos nas unidades selecionadas da Rede Arrey Hotels.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/formulaarreyhotel/">
				<img class="profile-picture" alt="pyladiesbr" src="{{ "/assets/img/hospedagem/formula-arrey-hotel.jpg" | prepend: site.baseurl }}" />
				<p>Fórmula Arrey Hotel</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/granhotelarrey/">
				<img class="profile-picture" alt="pyladiesbr" src="{{ "/assets/img/hospedagem/gran-arrey-hotel.jpg" | prepend: site.baseurl }}" />
				<p>Gran Arrey Hotel</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/executivearreyhotel/">
				<img class="profile-picture" alt="pyladiesbr" src="{{ "/assets/img/hospedagem/hotel-executive-arrey.jpg" | prepend: site.baseurl }}" />
				<p>Executive Arrey Hotel</p>
			</a>
		</div>
		
	</div>
	
	<div class="row center">
		<a class="waves-effect waves-light btn btn-large" target="_blank" href="https://api.whatsapp.com/send?phone=5586999961090&text=Olá, estarei em Teresina para a PyLadies BR Conf[3] e gostaria de reservar minha estadia.">Fazer reserva</a>
	</div>
</div>
