<div class="user-details">
  <div class="row">
    <div class="container">
      <h1> Keynotes </h1>
      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class="circle responsive-img" alt="mountains" src="{{ "/assets/img/ju.jpg" | prepend: site.baseurl }}" />
            <span class="card-title">Palestrante I</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#!"><i class="icon fa fa-facebook"></i></a>
            <a href="#!"><i class="icon fa fa-twitter"></i></a> 
            <a href="#!"><i class="icon fa fa-github"></i></a>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div class="card">
          <div class="card-image">
            <img class="circle responsive-img" alt="mountains" src="{{ "/assets/img/ju.jpg" | prepend: site.baseurl }}" />
            <span class="card-title">Palestrante I</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#!"><i class="icon fa fa-facebook"></i></a>
            <a href="#!"><i class="icon fa fa-twitter"></i></a> 
            <a href="#!"><i class="icon fa fa-github"></i></a>
          </div>
        </div>
      </div>      
      </div>
  </div>
</div>