<div class="container">
  <h1 class="center">Local</h1>

  <div class="row info-local">

      <div class="col s12 col m6 ">
          <h3>LuizaLabs</h3>

          <p>R. Maria Prestes Maia, 300 <br>
          Vila Guilherme, CEP 02.047-000 <br>
          São Paulo/SP
          </p>
          <!--
          <a class="btn-small green" href="https://www.imd.ufrn.br/portal/">Site</a>
          -->
      </div>

    <div class="col s12 col m6">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14633.788944626345!2d-46.6220708!3d-23.5164115!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4688c05bdde5a14!2sLuizaLabs!5e0!3m2!1sen!2sbr!4v1556402815999!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>

  </div>
</div>
