<div class="user-details">
  <h1> Local </h1>
  <div class="row">
<div class="user-projects">
  <div class="images-right map-responsive">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3969.165429137983!2d-35.20758948561042!3d-5.832288745774012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff8566fe1f6f%3A0xd35194a8cdd83856!2sIMD+-+Instituto+Metrop%C3%B3le+Digital+-+Lagoa+Nova%2C+Natal+-+RN%2C+59076-560!5e0!3m2!1spt-BR!2sbr!4v1524459044580" width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
		
	</iframe>  
</div>
  <div class="user-projects">
    <h3> IMD (UFRN) </h3>
   
    <p> CIVT - UFRN - Av. Senador Salgado Filho, 3000 </br>
		Lagoa Nova, CEP 59.078.970 - Natal/RN </br>
		Recepção: (84) 3342-2216 - Ramal 100</p>
    <a class="btn-small" href="https://www.imd.ufrn.br/portal/">Site</a>
  </div>
</div>
</div>
</div>
