<div class="container">
	<div class="row organizacao center">
		<div class="col s12">
			<h4>Quem organiza</h4>
		</div>
	</div>
	
	<div class="row">
		<div class="col s2 center">
			<a target="_blank" href="https://www.instagram.com/dorothypiaui/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/dorothy_piaui.png" | prepend: site.baseurl }}" />
				<span>Dorothy Piauí</span>
			</a>
		</div>
		
		<div class="col s2 offset-s3 center">
			<a target="_blank" href="https://www.instagram.com/pyladies_goiania/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_goiania.png" | prepend: site.baseurl }}" />
				<span>PyLadies Goiânia</span>
			</a>
		</div>
		
		<div class="col s2 offset-s3 center">
			<a target="_blank" href="https://www.instagram.com/pyladies.slz/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_sao_luis.png" | prepend: site.baseurl }}" />
				<span>PyLadies São Luis</span>
			</a>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col s2 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesthe/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_teresina.png" | prepend: site.baseurl }}" />
				<span>PyLadies Teresina</span>
			</a>
		</div>
		
		<div class="col s2 offset-s3 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesparnaiba/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_parnaiba.png" | prepend: site.baseurl }}" />
				<span>PyLadies Parnaíba</span>
			</a>
		</div>
		
		<div class="col s2 offset-s3 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesdf/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_df.png" | prepend: site.baseurl }}" />
				<span>PyLadies Distrito Federal</span>
			</a>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col s2 offset-s5 center">
			<a target="_blank" href="https://www.instagram.com/pyladiessanca/">
				<img alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_sao_carlos.png" | prepend: site.baseurl }}" />
				<span>PyLadies São Carlos</span>
			</a>
		</div>
	</div>	

</div>