<div class="container">
	<div class="row organizacao center">
		<div class="col s12">
			<div class="quem-organiza">
				<h4>Quem organiza</h4>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/dorothypiaui/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/dorothy_piaui.png" | prepend: site.baseurl }}" />
				<p>Dorothy Piauí</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladies_goiania/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_goiania.png" | prepend: site.baseurl }}" />
				<p>PyLadies Goiânia</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladies.slz/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_sao_luis.png" | prepend: site.baseurl }}" />
				<p>PyLadies São Luis</p>
			</a>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesthe/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_teresina.png" | prepend: site.baseurl }}" />
				<p>PyLadies Teresina</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesparnaiba/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_parnaiba.png" | prepend: site.baseurl }}" />
				<p>PyLadies Parnaíba</p>
			</a>
		</div>
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladiesdf/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_df.png" | prepend: site.baseurl }}" />
				<p>PyLadies Distrito Federal</p>
			</a>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col s12 m4 center">
			<a target="_blank" href="https://www.instagram.com/pyladiessanca/">
				<img class="profile-picture-org" alt="pyladiesbr" src="{{ "/assets/img/organizacao/pyLadies_sao_carlos.png" | prepend: site.baseurl }}" />
				<p>PyLadies São Carlos</p>
			</a>
		</div>
	</div>	

</div>
