<div class="container">
	<div class="row palestras center">
		<div class="col s12">
			<div class="titulo_palestras">
				<h4>Palestras</h4>
			</div>
		</div>
	</div>
	
	<div class="row palestras">
		<div class="col s12 m6">
			<div class="palestras_desc center">
				<img class="profile-picture" alt="pyladiesbr" src="{{ "/assets/img/keynotes/gabi_cavalcante.jpg" | prepend: site.baseurl }}" />
				<h4>TITULO</h4>
				<h5>NOME</h5>
				<p class="text_justify">TEXTO</p>
			</div>
		</div>
	</div>
</div>