<div class="user-details">
  <h1>Apoio</h1>
  <div class="user align-center">
    <p>
      Caso tenha interesse em patrocinar o evento, <a href="{{ "/assets/patrocine_pyladies_br_conf_2019.pdf" | prepend: site.baseurl }}">veja o nosso plano de
      patrocínio.</a>
    </p>
  </div>
  <br />
  <center><p>Em breve!</p></center>
</div>
<!--
  <div class="user">
    <div class="tech">
      <img class="responsive-img icon-about" alt="mountains" src="{{ "/assets/img/psf-logo.png" | prepend: site.baseurl }}"/>
    </div>
    <div class="tech">
      <img class="responsive-img icon-about" alt="mountains" src="{{ "/assets/img/apyb-logo.svg" | prepend: site.baseurl }}"/>
    </div>

-->