<div class="container">
	<div class="row patrocinadores2 center">
		<div class="col s12">
			<div class="titulo_patrocinadores">
				<h4>Conheça nossos patrocinadores e apoiadores</h4>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col s12 m3 center">
			<a target="_blank" href="https://www.python.org/psf-landing/">
				<img class="profile-picture" alt="Python Software Foundation" src="{{ "/assets/img/patrocinadores/psf.png" | prepend: site.baseurl }}" />
				<p>Python Software Foundation</p>
			</a>
		</div>
		
		<div class="col s12 m3 center">
			<a target="_blank" href="https://www.rocketseat.com.br/">
				<img class="profile-picture" alt="Rocketseat" src="{{ "/assets/img/patrocinadores/rocketseat.png" | prepend: site.baseurl }}" />
				<p>Rocketseat</p>
			</a>
		</div>
		
		<div class="col s12 m3 center">
			<a target="_blank" href="https://www.stickersdevs.com.br/">
				<img class="profile-picture" alt="Stickers Devs" src="{{ "/assets/img/patrocinadores/stickers.png" | prepend: site.baseurl }}" />
				<p>Stickers Devs</p>
			</a>
		</div>
		
		<div class="col s12 m3 center">
			<a target="_blank" href="https://www.alura.com.br/pos-tech/">
				<img class="profile-picture" alt="Stickers Devs" src="{{ "/assets/img/patrocinadores/alura_fiap.png" | prepend: site.baseurl }}" />
				<p>Alura + FIAP</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m3 center">
			<a target="_blank" href="https://www.instagram.com/lojinhaepfotoprodutos/">
				<img class="profile-picture" alt="Lojinha epfotoprodutos" src="{{ "/assets/img/patrocinadores/epfotoprodutos.jpg" | prepend: site.baseurl }}" />
				<p>Lojinha epfotoprodutos</p>
			</a>
		</div>
	</div>
</div>