 <div class="user-details">
  <h1> Patrocinadores </h1>
</div>
  <div class="user">
    <div class="tech">
     <i class="devicon-html5-plain-wordmark"></i>
      <!-- <img class="responsive-img icon-about" alt="mountains" src="{{ "/assets/img/alvo.png" | prepend: site.baseurl }}"/> -->
    </div>
    <div class="tech">
     <i class="devicon-html5-plain-wordmark"></i>
      <!-- <img class="responsive-img icon-about" alt="mountains" src="{{ "/assets/img/local.png" | prepend: site.baseurl }}"/> -->
    </div>
    <div class="tech">

     <i class="devicon-html5-plain-wordmark"></i>
      <!-- <img class="responsive-img icon-about" alt="mountains" src="{{ "/assets/img/suporte.png" | prepend: site.baseurl }}"/> -->
    </div>
</div>
