<div class="container"> 
    <div class="row">
      <div class="container"> 
          <h1 class="center">Programação</h1>
          <table class="highlight responsive-table centered">
              <thead>
                <tr>
                    <th>Horário</th>
                    <th>Título</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                  <td>8:30</td>
                  <td>Credenciamento</td>
                </tr>
            
                <tr>
                  <td>9:00</td>
                  <td>Abertura</td>
                </tr>
    
                <tr>
                  <td>9:45</td>
                  <td>Keynote</td>
                </tr>
    
                <tr>
                  <td>10:30</td>
                  <td>Coffee Break</td>
                </tr>
    
                <tr>
                  <td>11:00</td>
                  <td>Why Python? Um mundo em uma linguagem</td>
                </tr>
    
                <tr>
                  <td>11:30</td>
                  <td>A jornada da Heroína Desenvolvedora Web</td>
                </tr>
    
                <tr>
                  <td>12:00</td>
                  <td>Almoço</td>
                </tr>
    
                <tr>
                  <td>14:00</td>
                  <td>Representatividade negra na tecnologia: Uma apaixona por Python em busca por representatividade</td>
                </tr>
    
                <tr>
                  <td>14:30</td>
                  <td>Matando o medo do deploy</td>
                </tr>
    
                <tr>
                  <td>15:00</td>
                  <td>Bela, novinha e da TI: Primeira experiência profissional a gente nunca esquece</td>
                </tr>
    
                <tr>
                  <td>15:30</td>
                  <td>Coffee Break</td>
                </tr>
    
                <tr>
                  <td>16:00</td>
                  <td>Data Science: É de comer?</td>
                </tr>
    
                <tr>
                  <td>16:30</td>
                  <td>Keynote</td>
                </tr>
    
                <tr>
                  <td>17:30</td>
                  <td>Fish Bowl</td>
                </tr>
    
                <tr>
                  <td>18:30</td>
                  <td>Encerramento</td>
                </tr>
    
              </tbody>
            </table>
      </div>
     
    </div>
</div>

