<div class="programacao">
    <div class="row">
      <div class="container">
          <h1 class="center">Programação</h1>
          <table class="highlight centered">
              <thead>
                <tr>
                    <th>Horário</th>
                    <th>Título</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>8:30</td>
                  <td>Credenciamento</td>
                </tr>

                <tr>
                  <td>9:00</td>
                  <td>Abertura</td>
                </tr>

                <tr>
                  <td>9:45</td>

                  <td> <a class="waves-effect modal-trigger" href="#keynote1"> Keynote</a></td>
                </tr>

                <tr>
                  <td>10:30</td>
                  <td>Coffee Break</td>
                </tr>

                <tr>
                  <td>11:00</td> 
                  <td> <a class="waves-effect modal-trigger" href="#rillari">  Why Python? Um mundo em uma linguagem </a></td>
                </tr>

                <tr>
                  <td>11:30</td>
                  <td>  <a class="waves-effect modal-trigger" href="#sarah"> A jornada da Heroína Desenvolvedora Web </a> </td>
                </tr>

                <tr>
                  <td>12:00</td>
                  <td>Almoço</td>
                </tr>

                <tr>
                  <td>14:00</td>
                  <td><a class="waves-effect modal-trigger" href="#murielem">Representatividade negra na tecnologia: Uma apaixona por Python em busca por representatividade</a></td>
                </tr>

                <tr>
                  <td>14:30</td>
                  <td><a class="waves-effect modal-trigger" href="#bianca">Matando o medo do deploy</a></td>
                </tr>

                <tr>
                  <td>15:00</td>
                  <td>Bela, novinha e da TI: Primeira experiência profissional a gente nunca esquece</td>
                </tr>

                <tr>
                  <td>15:30</td>
                  <td>Coffee Break</td>
                </tr>

                <tr>
                  <td>16:00</td>
                  <td><a class="waves-effect modal-trigger" href="#leticia">Data Science: É de comer?</a></td>
                </tr>

                <tr>
                  <td>16:30</td>
                  <td><a class="waves-effect modal-trigger" href="#keynote2">Keynote</a></td>
                </tr>

                <tr>
                  <td>17:30</td>
                  <td>Fish Bowl</td>
                </tr>

                <tr>
                  <td>18:30</td>
                  <td>Encerramento</td>
                </tr>

              </tbody>
            </table>
      </div>

    </div>
</div>


<!-- Modal Structure -->
<div id="keynote1" class="modal">
  <div class="modal-content">
      <div class="center">
          <img src="{{ "/assets/img/keynotes/gabi.jpg" | prepend: site.baseurl }}" class="palestrantes">
      </div>
    <h4>Gabi Cavalcant</h4>
    <p>Formada em Tecnologia da Informação (UFRN-Brasil/Polytech-França), e graduanda em Ciência da Computação (UFRN), atualmente trabalha na área de segurança da informação e IoT na Rede Nacional de Ensino de Pesquisa (RNP).
        Também contribui em comunidades e coletivos feministas, como o PyLadies e o MUTE.</p>
      <div class="card-action">
          <a href="https://facebook.com/gabi.cavalcante.silva"><i class="icon fa fa-facebook"></i></a>
          <a href="https://twitter.com/_gabiCavalcante"><i class="icon fa fa-twitter"></i></a>
          <a href="https://github.com/I-am-Gabi"><i class="icon fa fa-github"></i></a>
          <a href="https://br.linkedin.com/in/gabrielacavalcante"><i class="icon fa fa-linkedin"></i></a>
      </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>


<!-- Modal Structure -->
<div id="keynote2" class="modal">
    <div class="modal-content">
        <div class="center">
            <img  src="{{ "/assets/img/keynotes/jessica.jpg" | prepend: site.baseurl }}" class="palestrantes">
          </div>

        <h4>Jessica Temporal</h4>
        <p>Com uma formação exótica em Informática Biomédica, Jessica Temporal é desenvolvedora e cientista de dados na Nuveo, co-fundadora do Pizza de Dados, o podcast brasileiro sobre ciência de dados. Apaixonada por open source, faz parte do time de mantenedores do projeto Operação Serenata de Amor e participante ativa das iniciativas PyLadies e Women Who Go.</p>
        <div class="card-action">
            <a href="https://twitter.com/jesstemporal"><i class="icon fa fa-twitter"></i></a>
            <a href="https://github.com/jtemporal"><i class="icon fa fa-github"></i></a>
            <a href="https://www.instagram.com/jesstemporal/"><i class="icon fa fa-instagram"></i></a>
        </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>


<!-- Modal Structure -->
<div id="rillari" class="modal">

  <div class="modal-content">
      <div class="center">
          <img  src="{{ "/assets/img/palestrantes/rillari.jpg" | prepend: site.baseurl }}"   alt="Ryllari Santana" class="palestrantes">
      </div>
        <h4>Ryllari Santana</h4>
        <p>Potiguar com feeling cearense. Membro organizadora do PyLadies Fortaleza. Estudante de Engenharia de Computação no IFCE - Campus Fortaleza. Técnica em Informática formada pelo IFRN - Campus Mossoró. Programa desde os 16 anos. Atualmente trabalha com desenvolvimento web. Por não ter tido muitas referências quando iniciou na carreira, faz o que tiver ao seu alcance para motivar mais mulheres a seguirem na TI.</p>
        <div class="card-action">
            <a href="https://www.facebook.com/ryllarirms"><i class="icon fa fa-facebook"></i></a>
            <a href="https://github.com/ryllari"><i class="icon fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/ryllari/"><i class="icon fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/ryllarimarques/"><i class="icon fa fa-instagram"></i></a>

        </div>
      </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>


<!-- Modal Structure -->
<div id="sarah" class="modal">
    <div class="modal-content">

        <div class="center">
            <img src="https://avatars1.githubusercontent.com/u/14362964?s=400&u=a727e8c8b4b83641fdc3cc3127f94c561f987182&v=4" alt="Bianca Rosa" class="palestrantes">
        </div>

        <h4>Sarah Raquel</h4>
        <p>Desenvolvedora backend na Codeminer42, GDG/WTM Natal Organizer e PyLady.</p>
        <div class="card-action">
            <a href="https://twitter.com/sarahraquelsh"><i class="icon fa fa-twitter"></i></a>
            <a href="https://github.com/sarahraquel"><i class="icon fa fa-github"></i></a>
            <a href=" https://www.linkedin.com/in/sarahraquel/"><i class="icon fa fa-linkedin"></i></a>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>



<!-- Modal Structure -->
<div id="murielem" class="modal">
  <div class="modal-content">
      <div class="center">
        <img  src="{{ "/assets/img/palestrantes/murielem.jpg" | prepend: site.baseurl }}"   alt="Ingrid Murielem" class="palestrantes">
      </div>
      <h4>Ingrid Murielem</h4>
      <p>Ingrid Murielem, 23 anos, Gaucha, Colorada, Desenvolvedora e estudante de Ciência da Computação na UFRGS - Universidade Federal do Rio Grande do Sul.Uma apaixonada por Ruby e Python em uma busca constante por mais conhecimento. É treinadora oficial de eventos para inclusão de minorias na área da TI: AfroPython, RailGirls (NH e POA) e DjangoGirls(POA).</p>
      <div class="card-action">
          <a href="https://twitter.com/ingridmurielem"><i class="icon fa fa-twitter"></i></a>
          <a href="https://github.com/ingridmurielem"><i class="icon fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/ingridmurielem/"><i class="icon fa fa-linkedin"></i></a>
          <a href="https://www.instagram.com/ingridmurielem/"><i class="icon fa fa-instagram"></i></a>
      </div>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>

<div id="leticia" class="modal">
    <div class="modal-content">

        <div class="center">
          <img  src="{{ "/assets/img/palestrantes/leticia.jpg" | prepend: site.baseurl }}"   alt="Leticia Silva" class="palestrantes">
        </div>

        <h4>Letícia Silva</h4>
        <p>Graduanda em Ciência da Computação e estudante de iniciação científica no INPE (Instituto Nacional de Pesquisas Espaciais), busca fazer do mundo um lugar mais inclusivo para as mulheres e todos os grupos que são considerados minorias.
            É organizadora do Django Girls, PyLadies, Devs JavaGirl e Women Techmakers de São José dos Campos, e colabora com iniciativas como o Elas Programam e Training Center. </p>

        <div class="card-action">
            <a href="https://www.facebook.com/dii_lua"><i class="icon fa fa-facebook"></i></a>
            <a href="https://twitter.com/dii_lua"><i class="icon fa fa-twitter"></i></a>
            <a href="https://github.com/diilua"><i class="icon fa fa-github"></i></a>
            <a href="https://www.instagram.com/dii_lua/"><i class="icon fa fa-instagram"></i></a>
        </div>

      </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>


  <div id="bianca" class="modal">
      <div class="modal-content">

          <div class="center">
            <img src="https://scontent.fsdu2-1.fna.fbcdn.net/v/t1.0-9/36912483_10156462017481597_1560246174210850816_n.jpg?_nc_cat=110&oh=5840cdd79ea4f86c1cb2756cd35c04fb&oe=5C59369C" alt="Bianca Rosa" class="palestrantes">
          </div>

          <h4>Bianca Rosa</h4>
          <p>Líder de desenvolvimento na Stone, escrevendo códigos em Python & Go ultimamente, gosta de desenvolver softwares escaláveis, fáceis de serem mantidos e com qualidade.</p>
          <div class="card-action">
              <a href="https://medium.com/@__biancarosa"><i class="icon fa fa-medium"></i></a>
              <a href="https://twitter.com/__biancarosa"><i class="icon fa fa-twitter"></i></a>
              <a href=" http://github.com/biancarosa"><i class="icon fa fa-github"></i></a>
          </div>

        </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
      </div>
    </div>
