<div class="container">
	<div class="row sobre">
	
		<div class="col m6 l6 hide-on-small-only">
			<img alt="pyladiesbr" src="{{ "/assets/img/foto_evento_2025.png" | prepend: site.baseurl }}" />
		</div>

		<div class="col s12 m6 l6">
			<h4>Sobre o evento</h4>
			<div class="hide-on-med-and-up foto_sobre">
				<img alt="pyladiesbr" src="{{ "/assets/img/foto_evento_2025.png" | prepend: site.baseurl }}" />
			</div>
			<p class="text_justify font-montserrat font-light"> {{site.user_description}} </p>
		</div>

	</div>
</div>