<div class="container">
	<div class="row titulo">

		<div class="col s7 m6 l6">
			<img alt="pyladiesbr" src="{{ "/assets/img/logo_texto_2025.png" | prepend: site.baseurl }}" />
			<br/>			
			<span>19 de Junho de 2025 | 08h às 18h</span><br/>
			<span>Universidade Federal do Piauí - Campus Teresina</span>
			<br/>
			<a class="waves-effect waves-light btn" href="index.html#sobre">Saiba mais</a>
		</div>

		<div class="col s5 m6 l6">
			<img alt="pyladiesbr" src="{{ "/assets/img/logo_evento_2025.png" | prepend: site.baseurl }}" />	
		</div>

	</div>
</div>
