#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 3%;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.icon-about{
  width: 150px;
}

.banner{
  width: 100%;
  height: 18em;
  margin-top: 5%;
  background-image: linear-gradient(to right bottom,#04060a, #0a3d5a);
}

.clock-letter h3{
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  font-size: 260%;
}

.clock-letter p{
  text-align: center;
  color: #ffffff;
  font-size: 200%;
}

.user h2{
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.tech span{
  // margin-top: 5%;
}