#patrocinadores {
  width: 90%;
  margin: 10px auto;
  margin-top: 160px;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
    margin-top: 0;
  }

  @media only screen and (max-width: 360px) {
    margin-top: 0;
  }
}


.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

.icon-about{
  width: 150px;
}

