@font-face {
    font-family: 'Ezra-Regular';
    src: url('../fonts/Ezra-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ezra-Bold';
    src: url('../fonts/Ezra-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ezra-Semibold';
    src: url('../fonts/Ezra-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mega-drone';
    src: url('../fonts/Mega\ Drone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, h1, h2, body {
    font-family: 'Ezra-Regular';
}

img{
	width: 100%;
}

body{
	color: rgba(0,0,0,0.87);
	font-size: 100%;
	line-height: 1.5;
	color: #555;
}

p{
	color: black;
}

.container p, .container span, .nav-wrapper a{
	font-size: 18px;
}

nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
	padding-right: 4%;
}
nav.nav-center ul li a {
    display: inline-block;
	font-weight: 700;
}

nav ul a:hover {
  background-color: rgba(30, 174, 229, 0.29);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: #1eaee5;
}

nav{
	background-color: #263676;
}

.text_justify{
	text-align: justify;	
}

.sessao{
	padding-top: 30px;
	padding-bottom: 10px;
}

/* .sessao .row{
	display: flex;
	align-items: center;
} */

.titulo{
	background-color: #EDEDED;
	padding-top: 30px;
}

.titulo .col{
	margin-top: 0px;
}

.titulo span{
	color: #1376A3;
}

.btn{	
	background-color: #263676;
	border-radius: 10px;
	text-transform: none;
}

.titulo .btn{
	margin-top: 10px;
}

.titulo img{
	width: 90%;
}

.sobre{
	background-color: #57B03F;
}

.sobre2 h4{
	font-family: 'Ezra-Bold';
}

.foto_sobre{
	text-align: center;
}

.foto_sobre img{
	width: 50%;
}

.local{
	background-color: #EDEDED;
}

.local2 h4{
	font-family: 'Ezra-Bold';
}

#local{
	margin: 0px;
}

.sub_palestras h4{
	font-family: 'Ezra-Bold';
}

.apoie{
	background-color: #F4E298;
}

.quem-organiza{
	font-family: 'Ezra-Bold';
}

.apoie2 h4{
	font-family: 'Ezra-Bold';
}

.sub_palestras{
	background-color: #F4E298;	
}

.organizacao{
	background-color: #57B03F;
}

.organizacao span{
	font-weight: bold;
	font-size: 14px;
}

.organizacao a{
	color: black;
}

/*
#organizacao .row {
	display: flex;
	align-items: first baseline;
}

.logo_footer {
  display: flex;
  align-items: center;
} */

.logo_footer img{
	width: auto;
}

.footer_div .mapa_site{
	font-size: 14px;
	
}

.footer_div .divider{
	background-color: #FFD203;
}

.footer_div .btn-floating{
	background-color: white;
}

.footer_div .btn-floating i{
	color: #263676;
}

.nav-color {
  background: #263676;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


h1, h2, h3, h4,h5, stong {
  color: #333;
  font-weight: 600;
}
h1 {
  margin: .67em 0;  
}

.fa {
  font: 14px/1 FontAwesome;
    font-size: 14px;
    line-height: 1;
  text-rendering: auto;
}

h1 {
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 2.3733333333rem 0 1.424rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 .912rem 0;
}


@media (min-width: 768px){
	.sobre2{
		padding: 10em 0 0;
	}
}


@media (min-width: 768px){
	.local2{
		padding: 10em 0 0;
	}
}


@media (min-width: 768px){
	.apoie2{
		padding:  10em 0 0 6em;
	}
}

.titulo_keynotes{
	font-family: 'Ezra-Bold';
}

.keynotes2{
	background-color: #F4E298;
}

.keynotes_desc{
	background-color: #57B03F;	
	padding: 20px;
	border-radius: 10px;
	width: 90%;
	margin: auto;
}

.keynotes2 img{
	width: 80%;
	margin: auto;
	display: block;
}

.keynotes2 h5{
	text-align: center;
}

.keynotes2 p{
	font-size: 15px;
	text-align: justify;
}

.social_media1{
	text-align: right;
}

.social_media2{
	text-align: left;
}

.keynotes2 .btn-floating{
	background-color: black;
}

.keynotes2 .btn-floating i{
	color: white;
}

.titulo_patrocinadores{
	font-family: 'Ezra-Bold';
}

.patrocinadores2 a{
	color: black;
}

.patrocinadores2 span {
  font-size: 14px;
}

.patrocinadores2{
	background-color: #EDEDED;
}

.page-footer h5{
  color: #fff;
}