<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
      {% include header.html %}
      
  
      <section id="about">
        {% include about.html %}
      </section>

      <section>
        {% include banner_pyladies.html %}
      </section>

      <section id="keynotes">
        {% include keynotes.html %}
      </section>

       <section>
        {% include banner_pyladies_1.html %}
      </section>

      <section id="local">
        {% include local.html %}
      </section>

      <section>
        {% include banner_pyladies_2.html %}
      </section>

      <section id="patrocinadores">
        {% include patrocinadores.html %}
      </section>


        {{ content }}
      {% include footer.html %}
  </body>
