<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
      {% include header.html %}

      <section id="titulo" class="sessao titulo fundo-branco">
        {% include titulo.html %}
      </section>
	  
	  <!-- <section id="apoie" class="sessao sub_palestras">
        {% include submissao_palestras.html %}
      </section> -->
	  
	  <section id="inscricoes" class="sessao inscricoes fundo-amarelo">
        {% include inscricoes.html %}
      </section>

      <section id="sobre" class="sessao sobre fundo-verde">
        {% include sobre.html %}
      </section>
	  
	  <section id="local" class="sessao local fundo-branco">
        {% include local.html %}
      </section>
	  
	  <section id="local" class="sessao hospedagem fundo-amarelo">
        {% include hospedagem.html %}
      </section>
	  
	  <section id="keynotes2" class="sessao keynotes2 fundo-verde">
        {% include keynotes.html %}
      </section>
	  
	<!--   <section id="palestras" class="sessao palestras">
        {% include palestras.html %}
      </section> -->
	  
	  <section id="patrocinadores2" class="sessao patrocinadores2 fundo-branco">
        {% include patrocinadores.html %}
      </section>
	     
      <section id="apoie" class="sessao apoie fundo-amarelo">
        {% include apoie.html %}
      </section>
	  
	  <section id="organizacao" class="sessao organizacao fundo-verde">
        {% include organizacao.html %}
      </section>
      

     <!--  <section id="covidsafepolicy">
        {% include covid_safe_policy.html %}
      </section> -->


        {{ content }}
      {% include footer.html %}
  </body>
