<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
      {% include header.html %}
      
      <!-- {% include nav.html %} -->

      <section id="about">
        {% include about.html %}
      </section>

      <section id="keynotes">
        {% include keynotes.html %}
      </section>

      <section id="local">
        {% include local.html %}
      </section>

    
      <section id="patrocinadores">
        {% include patrocinadores.html %}
      </section>

    
        {{ content }}
      {% include footer.html %}
  </body>
